**/.DS_Store
.idea
.gradle
app/build
local.properties
app/google-services.json
firebase-debug.log
firestore-debug.log
app/*.jks
*.dpapi
.kotlin

build_log.txt
test_output.txt
cloud-functions/bgg-functions/lib/
